body {
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.small {
    font-size: 0.6rem;
}

.light {
    color: #444;
}


#attribute-panel {
    position: absolute;
    width: 300px;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 0px 20px 0px 20px;
    overflow: auto;
    resize: horizontal;
}

.ap .attributeValue {
    width: calc(50% - 10px);
    ;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.ap .attributeName {
    width: calc(50% - 10px);
    display: inline-block;
    padding-left: 10px;
}

.ap .accordion {
    color: #000000;
    padding: 8px 0px 8px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1rem;
    display: inline-block;
    margin: 0px;
    border-top: solid 1px #eee;
}

.ap .accordion:after {
    content: "";
    width: 24px;
    height: 24px;
    float: right;
    background-image: url("data:image/svg+xml;utf8, <svg width='24' height='24' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.29289 5.79289C4.68342 5.40237 5.31658 5.40237 5.70711 5.79289L8 8.08579L10.2929 5.79289C10.6834 5.40237 11.3166 5.40237 11.7071 5.79289C12.0976 6.18342 12.0976 6.81658 11.7071 7.20711L8.70711 10.2071C8.31658 10.5976 7.68342 10.5976 7.29289 10.2071L4.29289 7.20711C3.90237 6.81658 3.90237 6.18342 4.29289 5.79289Z' fill='black' fill-opacity='0.5'/></svg>");
}

.ap .plain-input {
    height: 50px;
    width: 100%;
}

#tool-bar {
    position: absolute;
    right: 340px;
    height: 100%;
    width: 60px;
    top: 0px;
}

.tb .button {
    text-align: center;
    user-select: none;
    border-radius: 4px;
    margin: 8px;
    background-color:transparent;
    white-space: nowrap;
    font-size: 0.6rem;
    padding-top: 32px;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position-x: center;
    background-position-y: 0px;
    margin-bottom: 16px;
    width: 44px;
}
.tb .button:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.icon.plus {
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24'><g fill='none' fill-rule='nonzero'>      <path fill='#000' d='M14 11h5a2 2 0 0 1 0 3h-5v5a2 2 0 0 1-3 0v-5H6a2 2 0 0 1 0-3h5V6a2 2 0 0 1 3 0v5z'/></g></svg>")
}

.icon.print {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24'><g fill='none' fill-rule='nonzero'><path fill='none' d='M0 0h24v24H0z'/><path stroke='#000' d='M6 4v16h12V9l-5-5z'/><path stroke='#000' d='M13 4v5h5'/></g></svg>");
}

.icon.save {
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24'><g fill='none' fill-rule='nonzero'><path fill='none' d='M0 0h24v24H0z'/><path stroke='#000' d='M4 15v4h16v-4'/><path stroke='#000' d='M8 13l4 4 4-4M12 5v12'/></g></svg>");
}
.icon.upload {
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24'><g fill='none' fill-rule='nonzero'><path fill='none' d='M0 0h24v24H0z'/><g stroke='#000'><path d='M8 10l4-4 4 4M12 18V6'/></g></g></svg>");
}