body{
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.small{
    font-size: 0.6rem;
}
.light{
    color:#444;
}
#floatingActionButton {
    position: absolute;
    bottom: 64px;
    left: 64px;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 64px;
    user-select: none;
}

#attribute-panel{
    position: absolute;
    width: 300px;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 0px 20px 0px 20px;
    overflow: auto;
    resize: horizontal;
}

.ap .attributeValue{
    width: calc(50% - 10px);;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.ap .attributeName{
    width: calc(50% - 10px);;
    display: inline-block;
    padding-left: 10px;
}

.ap .accordion {
    color: #000000; 
    padding: 8px 0px 8px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1rem;
    display: inline-block;
    margin: 0px;
    border-top: solid 1px #eee;
}
.ap .accordion:after {
    content: "";
    width: 24px;
    height: 24px;
    float: right;
    background-image: url("data:image/svg+xml;utf8, <svg width='24' height='24' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.29289 5.79289C4.68342 5.40237 5.31658 5.40237 5.70711 5.79289L8 8.08579L10.2929 5.79289C10.6834 5.40237 11.3166 5.40237 11.7071 5.79289C12.0976 6.18342 12.0976 6.81658 11.7071 7.20711L8.70711 10.2071C8.31658 10.5976 7.68342 10.5976 7.29289 10.2071L4.29289 7.20711C3.90237 6.81658 3.90237 6.18342 4.29289 5.79289Z' fill='black' fill-opacity='0.5'/></svg>");
}